
###########################
### Server Configuration
###########################

### Do not process authorization header
NO_AUTH=True

### Directory Configuration (defaults to current working directory)
WORKING_DIR=<absolute_path_for_working_dir>
# INPUT_DIR=<absolute_path_for_doc_input_dir>

### Source graph type
GRAPH_FILE_EXT="gscape"
# GRAPH_FILE_EXT="graphml"

### Logging level
LOG_LEVEL=INFO
VERBOSE=False
LOG_MAX_BYTES=10485760    # Log file max size in bytes, defaults to 10MB
LOG_BACKUP_COUNT=5        # Number of backup files to keep, defaults to 5
### Logfile location (defaults to current working directory)
# LOG_DIR=/path/to/log/directory

# OPENAI_LOG=debug
# PYTHONASYNCIODEBUG=1

########################
### Query Configuration
########################
# LLM responde cache for query (Not valid for streaming response)
ENABLE_LLM_CACHE=False
ENABLE_VDB_LOAD=True
# HISTORY_TURNS=0
COSINE_THRESHOLD=0.4
### Number of entities or relations retrieved from KG
TOP_K=15
### Maxmium number or chunks plan to send to LLM
CHUNK_TOP_K=5
### control the actual entities send to LLM
MAX_ENTITY_TOKENS=2000
### control the actual relations send to LLM
MAX_RELATION_TOKENS=2000
### control the maximum tokens send to LLM (include entities, relations and chunks)
# MAX_TOTAL_TOKENS=4200
### maximum related chunks grab from single entity or relations
RELATED_CHUNK_NUMBER=3

### Reranker configuration (Set ENABLE_RERANK to true in reranking model is configed)
# ENABLE_RERANK=True
# RERANK_MODEL=qwen3-embed
# RERANK_BINDING_HOST=
# RERANK_BINDING_API_KEY=your-api-key

########################################
### Document processing configuration
########################################
ENABLE_LLM_CACHE_FOR_EXTRACT=False
ENABLE_VDB_LOAD_FOR_EXTRACT=False
ENABLE_DISK_PERSIST=False

PROMPTS_LANGUAGE=Italian # The PROMPTS_LANGUAGE is put in english
# The SUMMARY_LANGUAGE and IRI_LANGUAGE must be expressed in the language of PROMPTS_LANGUAGE
# eg: PROMPTS_LANGUAGE=Italian -> SUMMARY_LANGUAGE=inglese
#     PROMPTS_LANGUAGE=English -> SUMMARY_LANGUAGE=english
SUMMARY_LANGUAGE=italiano

### Ontology IRI language
IRI_LANGUAGE=italiano

### Ontology IRI format
IRI_FORMAT=camelCase
# IRI_FORMAT=snake_case

### Chunk size for document splitting, 500~1500 is recommended
# CHUNK_SIZE=1200
# CHUNK_OVERLAP_SIZE=100
### Entity and relation summarization configuration
### Number of duplicated entities/edges to trigger LLM re-summary on merge ( at least 2 is recommented)
FORCE_LLM_SUMMARY_ON_MERGE=2
### Maximum number of entity extraction attempts for ambiguous content
# MAX_GLEANING=1

###############################
### Concurrency Configuration
###############################
### Max concurrency requests of LLM (for both query and document processing)
MAX_ASYNC=1
### Number of parallel processing documents(between 2~10, MAX_ASYNC/4 is recommended)
MAX_PARALLEL_INSERT=1
### Max concurrency requests for Embedding
EMBEDDING_FUNC_MAX_ASYNC=1
### Num of chunks send to Embedding in single request
EMBEDDING_BATCH_NUM=1

#######################
### LLM Configuration
#######################
### Time out in seconds for LLM, None for infinite timeout
# TIMEOUT=150
### Some models like o1-mini require temperature to be set to 1
TEMPERATURE=0.5
### Make a best effort to sample deterministically
SEED=0
### Max tokens send to LLM (less than context size of the model)
MAX_TOKENS=2000
MAX_COMPLETION_TOKENS=2000

### gpt-4o-mini (OpenAI alike)
# LLM_BINDING=openai
# LLM_MODEL=gpt-4o-mini
# LLM_BINDING_HOST=
# LLM_BINDING_API_KEY=your-api-key

### Optional for Azure (LLM_BINDING_HOST, LLM_BINDING_API_KEY take priority)
# AZURE_OPENAI_API_VERSION=2024-08-01-preview
# AZURE_OPENAI_DEPLOYMENT=gpt-4o
# AZURE_OPENAI_MODEL=GPT-4
# AZURE_OPENAI_API_KEY=your_api_key
# AZURE_OPENAI_ENDPOINT=https://myendpoint.openai.azure.com

####################################################################################
### Embedding Configuration (Should not be changed after the first file processed)
####################################################################################
### Embedding Binding type: openai, ollama, lollms, azure_openai
# EMBEDDING_BINDING=openai
# EMBEDDING_MODEL=bge-m3:latest
### OpenAI alike example
# EMBEDDING_BINDING_HOST=
# EMBEDDING_DIM=1024
# EMBEDDING_BINDING_API_KEY=your_api_key

### Optional for Azure
# AZURE_EMBEDDING_DEPLOYMENT=text-embedding-3-large
# AZURE_EMBEDDING_API_VERSION=2023-05-15
# AZURE_EMBEDDING_ENDPOINT=your_endpoint
# AZURE_EMBEDDING_API_KEY=your_api_key

### Maximum tokens sent to Embedding for each chunk (no longer in use?)
MAX_EMBED_TOKENS=8192

############################
### Data storage selection
############################
### Default storage (Recommended for small scale deployment)
# LIGHTRAG_KV_STORAGE=JsonKVStorage
# LIGHTRAG_VECTOR_STORAGE=NanoVectorDBStorage
# LIGHTRAG_GRAPH_STORAGE=NetworkXStorage
# LIGHTRAG_DOC_STATUS_STORAGE=JsonDocStatusStorage

####################################################################
### WORKSPACE setting workspace name for all storage types
### in the purpose of isolating data from LightRAG instances.
### Valid workspace name constraints: a-z, A-Z, 0-9, and _
####################################################################
# WORKSPACE=space1
